--
-- PostgreSQL database dump
--

\restrict egBS8sOAIntVeSjBqRctlUCLWbhAHSS4x3YZBo5gxDzkFAL2tTafnNjOicRdXUI

-- Dumped from database version 18.3 (Debian 18.3-1.pgdg13+1)
-- Dumped by pg_dump version 18.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: set_updated_at(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.set_updated_at() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
                BEGIN
                    NEW.updated_at = NOW();
                    RETURN NEW;
                END;
                $$;


ALTER FUNCTION public.set_updated_at() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: aliases; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.aliases (
    termino character varying(200) NOT NULL,
    reemplazo character varying(300) NOT NULL,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.aliases OWNER TO postgres;

--
-- Name: caja; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.caja (
    id integer NOT NULL,
    fecha date NOT NULL,
    abierta boolean DEFAULT false,
    monto_apertura integer DEFAULT 0,
    efectivo integer DEFAULT 0,
    transferencias integer DEFAULT 0,
    datafono integer DEFAULT 0,
    cerrada_at timestamp without time zone,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.caja OWNER TO postgres;

--
-- Name: caja_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.caja_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.caja_id_seq OWNER TO postgres;

--
-- Name: caja_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.caja_id_seq OWNED BY public.caja.id;


--
-- Name: clientes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.clientes (
    id integer NOT NULL,
    nombre character varying(300) NOT NULL,
    tipo_id character varying(10),
    identificacion character varying(50),
    tipo_persona character varying(20),
    correo character varying(200),
    telefono character varying(50),
    created_at timestamp without time zone DEFAULT now(),
    direccion character varying(300),
    regimen_fiscal character varying(30) DEFAULT 'no_responsable_iva'::character varying,
    municipio_dian integer DEFAULT 149
);


ALTER TABLE public.clientes OWNER TO postgres;

--
-- Name: clientes_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.clientes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.clientes_id_seq OWNER TO postgres;

--
-- Name: clientes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.clientes_id_seq OWNED BY public.clientes.id;


--
-- Name: compras; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.compras (
    id integer NOT NULL,
    fecha date NOT NULL,
    hora time without time zone,
    proveedor character varying(200),
    producto_id integer,
    producto_nombre character varying(300) NOT NULL,
    cantidad numeric(10,3) NOT NULL,
    costo_unitario integer,
    costo_total integer,
    created_at timestamp without time zone DEFAULT now(),
    usuario_id integer,
    incluye_iva boolean DEFAULT false,
    tarifa_iva integer DEFAULT 0,
    compra_fiscal_id integer
);


ALTER TABLE public.compras OWNER TO postgres;

--
-- Name: compras_fiscal; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.compras_fiscal (
    id integer NOT NULL,
    fecha date NOT NULL,
    hora time without time zone,
    proveedor character varying(200),
    producto_id integer,
    producto_nombre character varying(300) NOT NULL,
    cantidad numeric(10,3) NOT NULL,
    costo_unitario integer,
    costo_total integer,
    incluye_iva boolean DEFAULT false,
    tarifa_iva integer DEFAULT 0,
    numero_factura character varying(100),
    notas_fiscales text,
    compra_origen_id integer,
    usuario_id integer,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now(),
    gmail_message_id character varying(200),
    cufe_proveedor character varying(300),
    evento_030_at timestamp without time zone,
    evento_031_at timestamp without time zone,
    evento_032_at timestamp without time zone,
    evento_033_at timestamp without time zone,
    evento_estado character varying(20) DEFAULT 'pendiente'::character varying,
    evento_error text
);


ALTER TABLE public.compras_fiscal OWNER TO postgres;

--
-- Name: compras_fiscal_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.compras_fiscal_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.compras_fiscal_id_seq OWNER TO postgres;

--
-- Name: compras_fiscal_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.compras_fiscal_id_seq OWNED BY public.compras_fiscal.id;


--
-- Name: compras_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.compras_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.compras_id_seq OWNER TO postgres;

--
-- Name: compras_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.compras_id_seq OWNED BY public.compras.id;


--
-- Name: config_sistema; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.config_sistema (
    clave character varying(100) NOT NULL,
    valor text,
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.config_sistema OWNER TO postgres;

--
-- Name: facturas_abonos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.facturas_abonos (
    id integer NOT NULL,
    factura_id character varying(20),
    monto integer NOT NULL,
    fecha date NOT NULL,
    foto_url text DEFAULT ''::text,
    foto_nombre character varying(300) DEFAULT ''::character varying,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.facturas_abonos OWNER TO postgres;

--
-- Name: facturas_abonos_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.facturas_abonos_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.facturas_abonos_id_seq OWNER TO postgres;

--
-- Name: facturas_abonos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.facturas_abonos_id_seq OWNED BY public.facturas_abonos.id;


--
-- Name: facturas_electronicas; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.facturas_electronicas (
    id integer NOT NULL,
    venta_id integer,
    numero character varying(30) NOT NULL,
    cufe character varying(200),
    fecha_emision timestamp without time zone DEFAULT now(),
    estado character varying(20) DEFAULT 'emitida'::character varying,
    cliente_nombre character varying(300),
    total integer,
    error_msg text,
    created_at timestamp without time zone DEFAULT now(),
    tipo character varying(20) DEFAULT 'factura'::character varying NOT NULL,
    razon_id smallint,
    factura_cufe_ref character varying(200)
);


ALTER TABLE public.facturas_electronicas OWNER TO postgres;

--
-- Name: facturas_electronicas_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.facturas_electronicas_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.facturas_electronicas_id_seq OWNER TO postgres;

--
-- Name: facturas_electronicas_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.facturas_electronicas_id_seq OWNED BY public.facturas_electronicas.id;


--
-- Name: facturas_proveedores; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.facturas_proveedores (
    id character varying(20) NOT NULL,
    proveedor character varying(200) NOT NULL,
    descripcion character varying(500),
    total integer NOT NULL,
    pagado integer DEFAULT 0,
    pendiente integer NOT NULL,
    estado character varying(20) DEFAULT 'pendiente'::character varying,
    fecha date NOT NULL,
    foto_url text DEFAULT ''::text,
    foto_nombre character varying(300) DEFAULT ''::character varying,
    created_at timestamp without time zone DEFAULT now(),
    usuario_id integer
);


ALTER TABLE public.facturas_proveedores OWNER TO postgres;

--
-- Name: ferrebot_config; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ferrebot_config (
    clave character varying(100) NOT NULL,
    valor text,
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.ferrebot_config OWNER TO postgres;

--
-- Name: fiados; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.fiados (
    id integer NOT NULL,
    cliente_id integer,
    nombre character varying(300) NOT NULL,
    deuda integer DEFAULT 0,
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.fiados OWNER TO postgres;

--
-- Name: fiados_historial; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.fiados_historial (
    id integer NOT NULL,
    fiado_id integer,
    tipo character varying(20) NOT NULL,
    monto integer NOT NULL,
    concepto character varying(300),
    fecha date NOT NULL,
    hora time without time zone,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.fiados_historial OWNER TO postgres;

--
-- Name: fiados_historial_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.fiados_historial_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.fiados_historial_id_seq OWNER TO postgres;

--
-- Name: fiados_historial_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.fiados_historial_id_seq OWNED BY public.fiados_historial.id;


--
-- Name: fiados_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.fiados_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.fiados_id_seq OWNER TO postgres;

--
-- Name: fiados_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.fiados_id_seq OWNED BY public.fiados.id;


--
-- Name: gastos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.gastos (
    id integer NOT NULL,
    fecha date NOT NULL,
    hora time without time zone,
    concepto character varying(300) NOT NULL,
    monto integer NOT NULL,
    categoria character varying(100),
    origen character varying(50) DEFAULT 'bot'::character varying,
    fac_id character varying(20),
    created_at timestamp without time zone DEFAULT now(),
    usuario_id integer
);


ALTER TABLE public.gastos OWNER TO postgres;

--
-- Name: gastos_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.gastos_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.gastos_id_seq OWNER TO postgres;

--
-- Name: gastos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.gastos_id_seq OWNED BY public.gastos.id;


--
-- Name: historico_ventas; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.historico_ventas (
    fecha date NOT NULL,
    ventas integer DEFAULT 0,
    efectivo integer DEFAULT 0,
    transferencia integer DEFAULT 0,
    datafono integer DEFAULT 0,
    n_transacciones integer DEFAULT 0,
    gastos integer DEFAULT 0,
    abonos_proveedores integer DEFAULT 0,
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.historico_ventas OWNER TO postgres;

--
-- Name: inventario; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.inventario (
    id integer NOT NULL,
    producto_id integer,
    cantidad numeric(10,3) DEFAULT 0,
    minimo numeric(10,3) DEFAULT 0,
    unidad character varying(50) DEFAULT 'Unidad'::character varying,
    updated_at timestamp without time zone DEFAULT now(),
    nombre_original character varying(300),
    costo_promedio numeric(12,2),
    ultimo_costo numeric(12,2),
    ultimo_proveedor character varying(200),
    ultima_compra timestamp without time zone,
    ultima_venta timestamp without time zone,
    ultimo_ajuste timestamp without time zone,
    fecha_conteo timestamp without time zone
);


ALTER TABLE public.inventario OWNER TO postgres;

--
-- Name: inventario_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.inventario_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.inventario_id_seq OWNER TO postgres;

--
-- Name: inventario_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.inventario_id_seq OWNED BY public.inventario.id;


--
-- Name: iva_saldos_bimestrales; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.iva_saldos_bimestrales (
    "a├▒o" integer NOT NULL,
    bimestre integer NOT NULL,
    iva_ventas bigint DEFAULT 0,
    iva_compras bigint DEFAULT 0,
    saldo_anterior bigint DEFAULT 0,
    iva_neto bigint DEFAULT 0,
    estado character varying(20) DEFAULT 'borrador'::character varying,
    fecha_declaracion date,
    observaciones text,
    cerrado_at timestamp without time zone,
    CONSTRAINT iva_saldos_bimestrales_bimestre_check CHECK (((bimestre >= 1) AND (bimestre <= 6)))
);


ALTER TABLE public.iva_saldos_bimestrales OWNER TO postgres;

--
-- Name: productos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.productos (
    id integer NOT NULL,
    clave character varying(200) NOT NULL,
    nombre character varying(300) NOT NULL,
    nombre_lower character varying(300) NOT NULL,
    codigo character varying(100),
    categoria character varying(200),
    precio_unidad integer DEFAULT 0 NOT NULL,
    unidad_medida character varying(50) DEFAULT 'Unidad'::character varying,
    activo boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now(),
    tiene_iva boolean DEFAULT false,
    porcentaje_iva integer DEFAULT 0
);


ALTER TABLE public.productos OWNER TO postgres;

--
-- Name: productos_alias; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.productos_alias (
    id integer NOT NULL,
    producto_id integer,
    alias character varying(200) NOT NULL
);


ALTER TABLE public.productos_alias OWNER TO postgres;

--
-- Name: productos_alias_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.productos_alias_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.productos_alias_id_seq OWNER TO postgres;

--
-- Name: productos_alias_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.productos_alias_id_seq OWNED BY public.productos_alias.id;


--
-- Name: productos_fracciones; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.productos_fracciones (
    id integer NOT NULL,
    producto_id integer,
    fraccion character varying(10) NOT NULL,
    precio_total integer NOT NULL,
    precio_unitario integer NOT NULL
);


ALTER TABLE public.productos_fracciones OWNER TO postgres;

--
-- Name: productos_fracciones_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.productos_fracciones_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.productos_fracciones_id_seq OWNER TO postgres;

--
-- Name: productos_fracciones_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.productos_fracciones_id_seq OWNED BY public.productos_fracciones.id;


--
-- Name: productos_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.productos_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.productos_id_seq OWNER TO postgres;

--
-- Name: productos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.productos_id_seq OWNED BY public.productos.id;


--
-- Name: productos_pendientes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.productos_pendientes (
    id integer NOT NULL,
    nombre character varying(300) NOT NULL,
    fecha date NOT NULL,
    hora time without time zone,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.productos_pendientes OWNER TO postgres;

--
-- Name: productos_pendientes_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.productos_pendientes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.productos_pendientes_id_seq OWNER TO postgres;

--
-- Name: productos_pendientes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.productos_pendientes_id_seq OWNED BY public.productos_pendientes.id;


--
-- Name: productos_precio_cantidad; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.productos_precio_cantidad (
    id integer NOT NULL,
    producto_id integer,
    umbral integer DEFAULT 50 NOT NULL,
    precio_bajo_umbral integer NOT NULL,
    precio_sobre_umbral integer NOT NULL
);


ALTER TABLE public.productos_precio_cantidad OWNER TO postgres;

--
-- Name: productos_precio_cantidad_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.productos_precio_cantidad_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.productos_precio_cantidad_id_seq OWNER TO postgres;

--
-- Name: productos_precio_cantidad_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.productos_precio_cantidad_id_seq OWNED BY public.productos_precio_cantidad.id;


--
-- Name: usuarios; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.usuarios (
    id integer NOT NULL,
    telegram_id bigint NOT NULL,
    nombre character varying(100) NOT NULL,
    rol character varying(20) DEFAULT 'vendedor'::character varying NOT NULL,
    activo boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.usuarios OWNER TO postgres;

--
-- Name: usuarios_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.usuarios_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.usuarios_id_seq OWNER TO postgres;

--
-- Name: usuarios_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.usuarios_id_seq OWNED BY public.usuarios.id;


--
-- Name: ventas; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ventas (
    id integer NOT NULL,
    consecutivo integer NOT NULL,
    fecha date NOT NULL,
    hora time without time zone,
    cliente_id integer,
    cliente_nombre character varying(300) DEFAULT 'Consumidor Final'::character varying,
    vendedor character varying(100),
    metodo_pago character varying(50),
    total integer DEFAULT 0 NOT NULL,
    created_at timestamp without time zone DEFAULT now(),
    usuario_id integer,
    factura_numero character varying(30),
    factura_cufe character varying(200),
    factura_estado character varying(20) DEFAULT 'sin_factura'::character varying,
    facturada_at timestamp without time zone
);


ALTER TABLE public.ventas OWNER TO postgres;

--
-- Name: ventas_detalle; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ventas_detalle (
    id integer NOT NULL,
    venta_id integer,
    producto_id integer,
    producto_nombre character varying(300) NOT NULL,
    cantidad numeric(10,3) NOT NULL,
    unidad_medida character varying(50) DEFAULT 'Unidad'::character varying,
    precio_unitario integer,
    total integer NOT NULL,
    alias_usado character varying(200),
    sin_detalle boolean DEFAULT false
);


ALTER TABLE public.ventas_detalle OWNER TO postgres;

--
-- Name: ventas_detalle_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.ventas_detalle_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.ventas_detalle_id_seq OWNER TO postgres;

--
-- Name: ventas_detalle_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.ventas_detalle_id_seq OWNED BY public.ventas_detalle.id;


--
-- Name: ventas_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.ventas_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.ventas_id_seq OWNER TO postgres;

--
-- Name: ventas_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.ventas_id_seq OWNED BY public.ventas.id;


--
-- Name: caja id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.caja ALTER COLUMN id SET DEFAULT nextval('public.caja_id_seq'::regclass);


--
-- Name: clientes id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.clientes ALTER COLUMN id SET DEFAULT nextval('public.clientes_id_seq'::regclass);


--
-- Name: compras id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.compras ALTER COLUMN id SET DEFAULT nextval('public.compras_id_seq'::regclass);


--
-- Name: compras_fiscal id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.compras_fiscal ALTER COLUMN id SET DEFAULT nextval('public.compras_fiscal_id_seq'::regclass);


--
-- Name: facturas_abonos id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.facturas_abonos ALTER COLUMN id SET DEFAULT nextval('public.facturas_abonos_id_seq'::regclass);


--
-- Name: facturas_electronicas id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.facturas_electronicas ALTER COLUMN id SET DEFAULT nextval('public.facturas_electronicas_id_seq'::regclass);


--
-- Name: fiados id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fiados ALTER COLUMN id SET DEFAULT nextval('public.fiados_id_seq'::regclass);


--
-- Name: fiados_historial id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fiados_historial ALTER COLUMN id SET DEFAULT nextval('public.fiados_historial_id_seq'::regclass);


--
-- Name: gastos id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gastos ALTER COLUMN id SET DEFAULT nextval('public.gastos_id_seq'::regclass);


--
-- Name: inventario id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventario ALTER COLUMN id SET DEFAULT nextval('public.inventario_id_seq'::regclass);


--
-- Name: productos id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.productos ALTER COLUMN id SET DEFAULT nextval('public.productos_id_seq'::regclass);


--
-- Name: productos_alias id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.productos_alias ALTER COLUMN id SET DEFAULT nextval('public.productos_alias_id_seq'::regclass);


--
-- Name: productos_fracciones id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.productos_fracciones ALTER COLUMN id SET DEFAULT nextval('public.productos_fracciones_id_seq'::regclass);


--
-- Name: productos_pendientes id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.productos_pendientes ALTER COLUMN id SET DEFAULT nextval('public.productos_pendientes_id_seq'::regclass);


--
-- Name: productos_precio_cantidad id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.productos_precio_cantidad ALTER COLUMN id SET DEFAULT nextval('public.productos_precio_cantidad_id_seq'::regclass);


--
-- Name: usuarios id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios ALTER COLUMN id SET DEFAULT nextval('public.usuarios_id_seq'::regclass);


--
-- Name: ventas id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ventas ALTER COLUMN id SET DEFAULT nextval('public.ventas_id_seq'::regclass);


--
-- Name: ventas_detalle id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ventas_detalle ALTER COLUMN id SET DEFAULT nextval('public.ventas_detalle_id_seq'::regclass);


--
-- Name: aliases aliases_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.aliases
    ADD CONSTRAINT aliases_pkey PRIMARY KEY (termino);


--
-- Name: caja caja_fecha_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.caja
    ADD CONSTRAINT caja_fecha_key UNIQUE (fecha);


--
-- Name: caja caja_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.caja
    ADD CONSTRAINT caja_pkey PRIMARY KEY (id);


--
-- Name: clientes clientes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.clientes
    ADD CONSTRAINT clientes_pkey PRIMARY KEY (id);


--
-- Name: compras_fiscal compras_fiscal_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.compras_fiscal
    ADD CONSTRAINT compras_fiscal_pkey PRIMARY KEY (id);


--
-- Name: compras compras_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.compras
    ADD CONSTRAINT compras_pkey PRIMARY KEY (id);


--
-- Name: config_sistema config_sistema_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.config_sistema
    ADD CONSTRAINT config_sistema_pkey PRIMARY KEY (clave);


--
-- Name: facturas_abonos facturas_abonos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.facturas_abonos
    ADD CONSTRAINT facturas_abonos_pkey PRIMARY KEY (id);


--
-- Name: facturas_electronicas facturas_electronicas_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.facturas_electronicas
    ADD CONSTRAINT facturas_electronicas_pkey PRIMARY KEY (id);


--
-- Name: facturas_proveedores facturas_proveedores_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.facturas_proveedores
    ADD CONSTRAINT facturas_proveedores_pkey PRIMARY KEY (id);


--
-- Name: ferrebot_config ferrebot_config_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ferrebot_config
    ADD CONSTRAINT ferrebot_config_pkey PRIMARY KEY (clave);


--
-- Name: fiados_historial fiados_historial_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fiados_historial
    ADD CONSTRAINT fiados_historial_pkey PRIMARY KEY (id);


--
-- Name: fiados fiados_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fiados
    ADD CONSTRAINT fiados_pkey PRIMARY KEY (id);


--
-- Name: gastos gastos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gastos
    ADD CONSTRAINT gastos_pkey PRIMARY KEY (id);


--
-- Name: historico_ventas historico_ventas_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.historico_ventas
    ADD CONSTRAINT historico_ventas_pkey PRIMARY KEY (fecha);


--
-- Name: inventario inventario_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventario
    ADD CONSTRAINT inventario_pkey PRIMARY KEY (id);


--
-- Name: inventario inventario_producto_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventario
    ADD CONSTRAINT inventario_producto_id_key UNIQUE (producto_id);


--
-- Name: iva_saldos_bimestrales iva_saldos_bimestrales_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.iva_saldos_bimestrales
    ADD CONSTRAINT iva_saldos_bimestrales_pkey PRIMARY KEY ("a├▒o", bimestre);


--
-- Name: productos_alias productos_alias_alias_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.productos_alias
    ADD CONSTRAINT productos_alias_alias_key UNIQUE (alias);


--
-- Name: productos_alias productos_alias_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.productos_alias
    ADD CONSTRAINT productos_alias_pkey PRIMARY KEY (id);


--
-- Name: productos productos_clave_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.productos
    ADD CONSTRAINT productos_clave_key UNIQUE (clave);


--
-- Name: productos_fracciones productos_fracciones_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.productos_fracciones
    ADD CONSTRAINT productos_fracciones_pkey PRIMARY KEY (id);


--
-- Name: productos_pendientes productos_pendientes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.productos_pendientes
    ADD CONSTRAINT productos_pendientes_pkey PRIMARY KEY (id);


--
-- Name: productos productos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.productos
    ADD CONSTRAINT productos_pkey PRIMARY KEY (id);


--
-- Name: productos_precio_cantidad productos_precio_cantidad_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.productos_precio_cantidad
    ADD CONSTRAINT productos_precio_cantidad_pkey PRIMARY KEY (id);


--
-- Name: productos_precio_cantidad productos_precio_cantidad_producto_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.productos_precio_cantidad
    ADD CONSTRAINT productos_precio_cantidad_producto_id_key UNIQUE (producto_id);


--
-- Name: usuarios usuarios_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_pkey PRIMARY KEY (id);


--
-- Name: usuarios usuarios_telegram_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_telegram_id_key UNIQUE (telegram_id);


--
-- Name: ventas ventas_consecutivo_fecha_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ventas
    ADD CONSTRAINT ventas_consecutivo_fecha_unique UNIQUE (consecutivo, fecha);


--
-- Name: ventas_detalle ventas_detalle_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ventas_detalle
    ADD CONSTRAINT ventas_detalle_pkey PRIMARY KEY (id);


--
-- Name: ventas ventas_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ventas
    ADD CONSTRAINT ventas_pkey PRIMARY KEY (id);


--
-- Name: idx_compras_fiscal_cufe; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_compras_fiscal_cufe ON public.compras_fiscal USING btree (cufe_proveedor) WHERE (cufe_proveedor IS NOT NULL);


--
-- Name: idx_compras_fiscal_evento_estado; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_compras_fiscal_evento_estado ON public.compras_fiscal USING btree (evento_estado);


--
-- Name: idx_compras_fiscal_fecha; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_compras_fiscal_fecha ON public.compras_fiscal USING btree (fecha);


--
-- Name: idx_compras_fiscal_gmail_msg; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX idx_compras_fiscal_gmail_msg ON public.compras_fiscal USING btree (gmail_message_id, producto_nombre) WHERE (gmail_message_id IS NOT NULL);


--
-- Name: idx_compras_fiscal_gmail_not_null; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_compras_fiscal_gmail_not_null ON public.compras_fiscal USING btree (created_at DESC) WHERE (gmail_message_id IS NOT NULL);


--
-- Name: idx_compras_fiscal_iva; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_compras_fiscal_iva ON public.compras_fiscal USING btree (incluye_iva, tarifa_iva) WHERE (incluye_iva = true);


--
-- Name: idx_compras_fiscal_origen; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_compras_fiscal_origen ON public.compras_fiscal USING btree (compra_origen_id) WHERE (compra_origen_id IS NOT NULL);


--
-- Name: idx_compras_usuario_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_compras_usuario_id ON public.compras USING btree (usuario_id);


--
-- Name: idx_facturas_cufe; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_facturas_cufe ON public.facturas_electronicas USING btree (cufe);


--
-- Name: idx_facturas_cufe_ref; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_facturas_cufe_ref ON public.facturas_electronicas USING btree (factura_cufe_ref);


--
-- Name: idx_facturas_proveedores_usuario_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_facturas_proveedores_usuario_id ON public.facturas_proveedores USING btree (usuario_id);


--
-- Name: idx_facturas_tipo; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_facturas_tipo ON public.facturas_electronicas USING btree (tipo);


--
-- Name: idx_facturas_venta; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_facturas_venta ON public.facturas_electronicas USING btree (venta_id);


--
-- Name: idx_gastos_fecha; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_gastos_fecha ON public.gastos USING btree (fecha);


--
-- Name: idx_gastos_usuario_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_gastos_usuario_id ON public.gastos USING btree (usuario_id);


--
-- Name: idx_ventas_consecutivo; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_ventas_consecutivo ON public.ventas USING btree (consecutivo);


--
-- Name: idx_ventas_detalle_venta; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_ventas_detalle_venta ON public.ventas_detalle USING btree (venta_id);


--
-- Name: idx_ventas_fecha; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_ventas_fecha ON public.ventas USING btree (fecha);


--
-- Name: idx_ventas_usuario_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_ventas_usuario_id ON public.ventas USING btree (usuario_id);


--
-- Name: uq_prod_fraccion; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX uq_prod_fraccion ON public.productos_fracciones USING btree (producto_id, fraccion);


--
-- Name: compras_fiscal trg_compras_fiscal_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_compras_fiscal_updated_at BEFORE UPDATE ON public.compras_fiscal FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: compras compras_compra_fiscal_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.compras
    ADD CONSTRAINT compras_compra_fiscal_id_fkey FOREIGN KEY (compra_fiscal_id) REFERENCES public.compras_fiscal(id) ON DELETE SET NULL;


--
-- Name: compras_fiscal compras_fiscal_compra_origen_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.compras_fiscal
    ADD CONSTRAINT compras_fiscal_compra_origen_id_fkey FOREIGN KEY (compra_origen_id) REFERENCES public.compras(id) ON DELETE SET NULL;


--
-- Name: compras_fiscal compras_fiscal_producto_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.compras_fiscal
    ADD CONSTRAINT compras_fiscal_producto_id_fkey FOREIGN KEY (producto_id) REFERENCES public.productos(id);


--
-- Name: compras compras_producto_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.compras
    ADD CONSTRAINT compras_producto_id_fkey FOREIGN KEY (producto_id) REFERENCES public.productos(id);


--
-- Name: compras compras_usuario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.compras
    ADD CONSTRAINT compras_usuario_id_fkey FOREIGN KEY (usuario_id) REFERENCES public.usuarios(id);


--
-- Name: facturas_abonos facturas_abonos_factura_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.facturas_abonos
    ADD CONSTRAINT facturas_abonos_factura_id_fkey FOREIGN KEY (factura_id) REFERENCES public.facturas_proveedores(id) ON DELETE CASCADE;


--
-- Name: facturas_electronicas facturas_electronicas_venta_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.facturas_electronicas
    ADD CONSTRAINT facturas_electronicas_venta_id_fkey FOREIGN KEY (venta_id) REFERENCES public.ventas(id) ON DELETE SET NULL;


--
-- Name: facturas_proveedores facturas_proveedores_usuario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.facturas_proveedores
    ADD CONSTRAINT facturas_proveedores_usuario_id_fkey FOREIGN KEY (usuario_id) REFERENCES public.usuarios(id);


--
-- Name: fiados fiados_cliente_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fiados
    ADD CONSTRAINT fiados_cliente_id_fkey FOREIGN KEY (cliente_id) REFERENCES public.clientes(id);


--
-- Name: fiados_historial fiados_historial_fiado_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fiados_historial
    ADD CONSTRAINT fiados_historial_fiado_id_fkey FOREIGN KEY (fiado_id) REFERENCES public.fiados(id) ON DELETE CASCADE;


--
-- Name: gastos gastos_usuario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gastos
    ADD CONSTRAINT gastos_usuario_id_fkey FOREIGN KEY (usuario_id) REFERENCES public.usuarios(id);


--
-- Name: inventario inventario_producto_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventario
    ADD CONSTRAINT inventario_producto_id_fkey FOREIGN KEY (producto_id) REFERENCES public.productos(id) ON DELETE CASCADE;


--
-- Name: productos_alias productos_alias_producto_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.productos_alias
    ADD CONSTRAINT productos_alias_producto_id_fkey FOREIGN KEY (producto_id) REFERENCES public.productos(id) ON DELETE CASCADE;


--
-- Name: productos_fracciones productos_fracciones_producto_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.productos_fracciones
    ADD CONSTRAINT productos_fracciones_producto_id_fkey FOREIGN KEY (producto_id) REFERENCES public.productos(id) ON DELETE CASCADE;


--
-- Name: productos_precio_cantidad productos_precio_cantidad_producto_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.productos_precio_cantidad
    ADD CONSTRAINT productos_precio_cantidad_producto_id_fkey FOREIGN KEY (producto_id) REFERENCES public.productos(id) ON DELETE CASCADE;


--
-- Name: ventas ventas_cliente_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ventas
    ADD CONSTRAINT ventas_cliente_id_fkey FOREIGN KEY (cliente_id) REFERENCES public.clientes(id);


--
-- Name: ventas_detalle ventas_detalle_producto_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ventas_detalle
    ADD CONSTRAINT ventas_detalle_producto_id_fkey FOREIGN KEY (producto_id) REFERENCES public.productos(id);


--
-- Name: ventas_detalle ventas_detalle_venta_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ventas_detalle
    ADD CONSTRAINT ventas_detalle_venta_id_fkey FOREIGN KEY (venta_id) REFERENCES public.ventas(id) ON DELETE CASCADE;


--
-- Name: ventas ventas_usuario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ventas
    ADD CONSTRAINT ventas_usuario_id_fkey FOREIGN KEY (usuario_id) REFERENCES public.usuarios(id);


--
-- PostgreSQL database dump complete
--

\unrestrict egBS8sOAIntVeSjBqRctlUCLWbhAHSS4x3YZBo5gxDzkFAL2tTafnNjOicRdXUI

